.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.signup-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
  margin-bottom: 15px;
}

.signup-form input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #218838;
}
